body
    +state
    +actionsWrap

template(name='state')
    +monster
    +overlays


template(name='actionsWrap')
    span.title git
    +actionsObservation
    +actionsMutation
    
template(name='actionsObservation')
    button {{action}}

template(name='actionsMutation')
    button {{action}}

template(name='monster')

template(name='overlays')
    +overlayStatus
    +overlayDiff
template(name='overlayDiff')
template(name='overlayStatus')
    p {{status}} hey

