$button
    padding 10px
    font-family inherit

body
    font-family Roboto Mono
header
    fixed top 0 left 0
    padding 10px
    background white
    width 100%
.createLevel
    @extend $button
    display flex
.header-spacer
    height 50px

normalize-css()
.Levels
    height 100vh
    background linear-gradient(90deg, #606c88 10%, #3f4c6b 90%)
    display flex
    flex-wrap wrap
    align-items flex-start
    align-content flex-start
    justify-content center

.Level
    background white
    padding 20px
    margin 30px
    float left
    width 300px
    flex-shrink 0
    box-sizing border-box
    border-radius 3px
    &-title
        font-weight 800
        font-size 40px
        background #888
        margin-bottom 20px
    &:hover
        background black
        color white
        
    

.Actions
    fixed bottom 0 left 0
    width 100%
    display flex
    
    background grey
    &Observation
        background deepskyblue
        background black
    &Mutation
    &Observation
        flex-grow 1
        display flex
        flex-wrap wrap
    
.Action
    padding 20px
    

.State
    display flex
    align-items center
    justify-content center
    min-height 50vh
    &-circle
        size 50vw
        max-width 300px
        max-height 300px
        background grey
        border-radius 50%
        

    
.overlays
    padding 20px
    font-size 32px

