head
    link(href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,100,700' rel='stylesheet' type='text/css')
body
    header
        .title gitchallenge
    .header-spacer
    +level
    +levelSelection

template(name='level')
    +state
    +actionsWrap

template(name='levelSelection')
    .Levels
        .Level
            .Level-title Initialize this!
            .Level-Briefing Initialize a git repo and commit an existing codebase.
        .Level
            .Level-title Clean Pull
            .Level-Briefing Commit pending changes and pull from remote.

template(name='state')
    +monster
    +overlays


template(name='actionsWrap')
    .Actions
        span.Actions-prefix git
        +actionsObservation
        +actionsMutation
        +actionsParameters
    
template(name='actionsObservation')
    .ActionsObservation
        each action in actions
            button(data-actiontype='{{action.type}}').Action {{action.type}}

template(name='actionsMutation')
    .ActionsMutation
        each action in actions
            button(data-actiontype='{{action.type}}').Action {{action.type}}
            .Action-help {{action.description}}

template(name='actionsParameters')
    .Action-parameters
        button.Action-parameterType --Message
        input(type='text').Action-parameterValue

template(name='monster')
    .State
        .State-circle

template(name='overlays')
    .overlays
        +overlayStatus
        +overlayDiff

template(name='overlayDiff')
    
template(name='overlayStatus')
    p {{status}}

