head
    link(href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,100,700' rel='stylesheet' type='text/css')
body
    header
        .title gitchallenge
        button.createLevel
    .header-spacer
    +levelSelection
    +state
    +actionsWrap

template(name='levelSelection')
    .Levels
        .Level
            .Level-title Initialize this!
            .Level-Briefing Initialize a git repo and commit an existing codebase.
        .Level
            .Level-title Clean Pull
            .Level-Briefing Commit pending changes and pull from remote.

template(name='state')
    +monster
    +overlays


template(name='actionsWrap')
    .Actions
        span.title git
        +actionsObservation
        +actionsMutation
    
template(name='actionsObservation')
    .ActionsObservation
    each action in actions
        button.BtnAction {{action}}

template(name='actionsMutation')
    .ActionsMutation
        button.Action {{action}}
        button.Action {{action}}
        button.Action {{action}}

template(name='monster')
    .State
        .State-circle

template(name='overlays')
    .overlays
        +overlayStatus
        +overlayDiff

template(name='overlayDiff')
    
template(name='overlayStatus')
    p {{status}} hey

