head
    link(href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,100,700' rel='stylesheet' type='text/css')
    title digitmon
body
    +header
    +Level
    +levelSelection

template(name='header')
    header
        .title digitmon
