head
    link(href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,100,700' rel='stylesheet' type='text/css')
body
    header
        .title gitchallenge
    .header-spacer
    +level
    +levelSelection

