template(name='levelSelection')
    div(class='LevelSummaries {{visibilityClass}}')
        .LevelSummary
            .LevelSummary-title Initialize this!
            .LevelSummary-Briefing Initialize a git repo and commit an existing codebase.
        .LevelSummary
            .LevelSummary-title Clean Pull
            .LevelSummary-Briefing Commit pending changes and pull from remote.
