template(name='Level')
    div(class='Level {{visibilityClass}}')
        .Level-info
            .Level-title {{title}}
            .Level-briefing {{briefing}}
        +state
        +actionsWrap

template(name='state')
    +monster
    +overlays

template(name='actionsWrap')
    .Actions
        span.Actions-prefix git
        +actionsObservation
        +actionsMutation
        +actionsParameters
    
template(name='actionsObservation')
    .ActionsObservation
        each action in actions
            button(data-actiontype='{{action.commandType}}').Action {{action.commandType}}
            .Action-help {{action.description}}

template(name='actionsMutation')
    .ActionsMutation
        each action in actions
            button(data-actiontype='{{action.commandType}}').Action {{action.commandType}}
            .Action-help {{action.description}}

template(name='actionsParameters')
    div(class='Action-parameters {{visibilityClass}}')
        each parameters 
            +parameter
        input(type='text').Action-parameterValue
template(name='parameter')
    .Action-parameter
        button(data-parametertype='{{name}}').Action-parameterType --{{name}}
template(name='monster')
    .State
        .State-circle

template(name='overlays')
    .overlays
        +overlayObservation
        +overlayLost
        +overlayWon
    
template(name='overlayLost')
    div(class='LostOverlay {{visibilityClass}}')
        .message-lost Success in IT requires maximum efficiency!
        .Retry Try again.

template(name='overlayWon')
    div(class='WonOverlay {{visibilityClass}}')
        .message-won Cowboy coding seems kind of silly, right?

template(name='overlayObservation')
    p {{status}}

