template(name='Level')
    div(class='Level {{visibilityClass}}')
        .Level-info
            .Level-title {{title}}
            .Level-briefing {{briefing}}
        +state
        +actionsWrap

template(name='state')
    +monster
    +overlays

template(name='actionsWrap')
    .Actions
        span.Actions-prefix git
        +actionsObservation
        +actionsMutation
        +actionsParameters
    
template(name='actionsObservation')
    .ActionsObservation
        each action in actions
            button(data-actiontype='{{action.commandType}}').Action {{action.commandType}}

template(name='actionsMutation')
    .ActionsMutation
        each action in actions
            button(data-actiontype='{{action.commandType}}').Action {{action.commandType}}
            .Action-help {{action.description}}

template(name='actionsParameters')
    .Action-parameters
        button.Action-parameterType --Message
        input(type='text').Action-parameterValue

template(name='monster')
    .State
        .State-circle

template(name='overlays')
    .overlays
        +overlayStatus
        +overlayDiff

template(name='overlayDiff')
    
template(name='overlayStatus')
    p {{status}}

