template(name='levelSelection')
    .Levels
        .Level
            .Level-title Initialize this!
            .Level-Briefing Initialize a git repo and commit an existing codebase.
        .Level
            .Level-title Clean Pull
            .Level-Briefing Commit pending changes and pull from remote.
