$button
    padding 10px
    font-family inherit

.Actions
    &-prefix
        absolute top -10px left 10px
        line-height 20px

    background blue
    fixed bottom 0 left 0
    width 100%
    display flex

    &Observation
        background deepskyblue
    &Mutation
    &Observation
        flex-grow 1
        display flex
        flex-wrap wrap
    
.Action
    background transparent
    color white
    &-parameters
        absolute top 0 left 0
        height 100%
        width 100%
        display none
        &.is-visible
            display flex
    &-parameterType
        padding 20px
    &:hover
        background black
    padding 20px
    &:hover + &-help
        display block
    &-help
        display none
        absolute top -60px0 left 0
        box-sizing border-box
        padding 20px
        height 60px
        line-height 20px
        width 100%
        overflow visible
    

.State
    display flex
    align-items center
    justify-content center
    min-height 50vh
    &-circle
        size 50vw
        max-width 300px
        max-height 300px
        background grey
        border-radius 50%
        

    
.overlays
    padding 20px
    font-size 32px

