.LevelSummaries
    fixed top 0 left 0
    height 100vh
    width 100vw
    background linear-gradient(90deg, #606c88 10%, #3f4c6b 90%)
    flex-wrap wrap
    align-items stretch
    align-content flex-start
    justify-content center
    pointer-events none
    opacity 0
    transform scale(2)
    display flex
    transition all 0.3s ease-out-quart
    overflow-y auto
    &.is-visible
        transform scale(1)
        opacity 1
        pointer-events all

.LevelSummary
    background white
    padding 20px
    margin 30px
    float left
    width 300px
    flex-shrink 0
    box-sizing border-box
    border-radius 3px
    &-title
        font-weight 800
        font-size 40px
        background #888
        margin-bottom 20px
    &:hover
        background black
        color white
