.Levels
    height 100vh
    background linear-gradient(90deg, #606c88 10%, #3f4c6b 90%)
    display flex
    flex-wrap wrap
    align-items flex-start
    align-content flex-start
    justify-content center
