.overlays
    relative()
    height 0
    overflow visible
    z-index 300

.LostOverlay
    display none
    z-index 300
    background red
    color white
    padding 10px
    fixed top 100px left 0
    &.is-visible
        display block !important
    .Retry
        text-decoration underline
        &:hover
            background black
            cursor pointer
.WonOverlay
    display none
    z-index 300
    background green
    color white
    padding 10px
    fixed top 100px left 0
    &.is-visible
        display block !important

.observation
    text-align center
    font-size 25px

